@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Roboto:wght@900&display=swap');

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.btn-shop-white {
    @apply rounded-full text-SecondaryColor flex justify-center items-center border-2 border-SecondaryColor transition duration-200 ease-in-out;
}

.btn-shop-black {
    @apply rounded-full text-SecondaryColor px-4 py-2 border-2 border-SecondaryColor transition duration-200 ease-in-out;
}

.hover-card {
    @apply bg-lightgray absolute flex justify-center items-center flex-col rounded-lg;
}

.text-hover-card {
    @apply text-SecondaryColor pb-4;
}

.img-headphone:hover {
    @apply scale-x-105;
}

.btn-cart {
    @apply text-lg py-2 px-4 text-lightgray bg-btnBg rounded-full shadow-btnShadow transform duration-200 ease-in-out;
}

.btn-cart:hover {
    @apply bg-lightgray text-btnBg translate-y-1;
}

.btn-cart:focus {
    @apply text-btnBg bg-lightgray;
}